html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {padding: 0;margin: 0;text-decoration: none;list-style: none;}
img {border: 0;display: block;}
input,textarea {outline: none;}
i {font-style: normal;}
.cu {cursor: pointer;}
.fl{float: left;}
.fr {float: right;}
.clearfix {zoom: 1;}
.clearfix:after {content: ".";clear: both;display: block;height: 0;font-size: 0;overflow: hidden;visibility: hidden;}
a {text-decoration: none;}
body {background: #F3F4F5;color: #333333;}

/* video container */
.videoContainer{width: 100%;position:relative;overflow:hidden;background:#000;}
#myVideo{width: 100%;height: 8.5rem;max-height: 8.5rem;background:#000;}
.wrap {padding-bottom: 5rem;}
.use-box {margin-top: 0.6rem;background: #ffffff;position: relative;}
.use-tlt {height: 2rem;line-height: 2rem;font-size: 0.75rem;padding-left: 0.75rem;}
.use-video {width: 100%;height: 8.5rem;}
.use-img {width: 2.25rem;max-width: 2.25rem;position: absolute;top: 50%;left: 50%;margin-top: -0.12rem;margin-left: -1.12rem;z-index: 999;}

/* video screen cover */
.loading{position:absolute;top:0;left:0;width:100%;height:100%;display: none;background:url(../img/loading.gif) no-repeat 50% 50%;z-index:2;display:none;}
.init{width: 3.5rem;height: 3.5rem;position: absolute;top: 50%;left: 50%;margin-left: -1.75rem;margin-top: -1rem;vertical-align: middle;cursor:pointer;}